# Insert your preferred key mappings here.
umap o
umap O
umap f
umap J
umap K
#使用o来打开书签
map o Vomnibar.activateBookmarksInNewTab
#使用O来打开历史记录
map O Vomnibar.activateInNewTab
#使用f来在另一个标签夜中打开链接
map f LinkHints.activateModeToOpenInNewForegroundTab
#使用J来向右切换标签页
map J  nextTab
#使用K来向左切换标签页
map K previousTab

#另外chrome中使用ctrl+number 来切换到特定标签页
#H  回退
#J  前进
